<title>{{ page.meta.title|default() }}</title>
<meta name="description" content="{{ page.meta.description|default() }}"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#3E4A59">
<meta name="apple-mobile-web-app-title" content="Faume - dashboard">
<meta name="application-name" content="%site.name%">
<meta name="msapplication-TileColor" content="#3E4A59">
<meta name="theme-color" content="#11121A">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:400,500,600,700" rel="stylesheet">