<div {{ attributes.defaults({class: (isHeadline ? "text-headline" : "text-area")~(theme ? " "~theme : "")})}}>
  {% block content %}
    {% if wysiwyg|default(false) == true %}
      {{ value|raw() }}
    {% else %}
      <p>{{ value|default("")|raw()|nl2br() }}</p>
    {% endif %}
  {% endblock %}
</div>